
    </div>
        <footer>
            <div>
                <p class="footer-text">&copydcoder2020</p>
                <section id="contact">
                    <div class="flex-container">
                        <div class="flex-item">
                            <img src="images/facebook-icon.png" alt="facebook">
                        </div>
                        <div class="flex-item">
                            <img src="images/instagram-img.png" alt="facebook">
                        </div>
                        <div class="flex-item">
                            <img src="images/linkedin-img.png" alt="facebook">
                        </div>
                        <div class="flex-item">
                            <img src="images/gmail-img.png" alt="facebook">
                        </div>
                    </div>
                </section>
            </div>
        </footer>
    </body>
</html>