<%- include("partials/header"); -%>


<div class="body">
  <div class="jumbotron">
    <h1 class="display-4">COVID-19</h1>
    <p class="lead">If COVID-19 is spreading in your community, stay safe by taking some simple precautions, such as physical distancing, wearing a mask, keeping rooms well ventilated, avoiding crowds, cleaning your hands, and coughing into a bent elbow or tissue. Check local advice where you live and work. Do it all!</p>
    <hr class="my-4">
    <p>To get the global updates about the COVID-19 please click below.</p>
    <a class="btn btn-primary btn-lg" href="/analytics" role="button">Updates</a>
  </div>
</div>


<%- include("partials/footer"); -%>